<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Google Analytic{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
            '../vendor/twitter/bootstrap/dist/css/bootstrap.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}
    {% javascripts
        '../vendor/components/jquery/jquery.js'
        '../vendor/twitter/bootstrap/dist/js/bootstrap.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
